.content-section {
    margin: 1em;
   /* display: inline-block;*/
}

.container {
    padding: 50px;;
    width: 90%;
    text-align: center;
    margin:auto;/*To place container in center*/
    font-family:algeria;
}
.section-header {
    font-family: "Algeria";
    padding: 25px;/*To increase space around heading*/
    font-size: 25px;
    margin:7px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image:url('../images/backgroundjpg.jpg');
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: green;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: green;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.btn-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #CC4C4C;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    /*border-radius: 5px;*/
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    
}
.cart-row:last-child {
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
    border: none;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-total-price {
    color: green;
    font-size: 1.1em;
}
.btn-purchase {
    font-family: sans-serif;
    color:white;
    background-color: green;
    border: none;
    font-weight: bold;
    display: block;
    margin: 40px auto 80px auto;
    font-size: 18px;
}
.btn-primary {
    color:black;
    background-color: orange;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: green;
    color: white;
}
a
{
	margin:0;
}